amqp==1.4.9
ansible==2.1.1.0
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
Django==1.8.12
ecdsa==0.13
gnureadline==6.3.3
ipython==3.2.1
Jinja2==2.8
kombu==3.0.35
MarkupSafe==0.23
MySQL-python==1.2.5
oauthlib==1.0.1
paramiko==1.15.2
pycrypto==2.6.1
PyJWT==1.4.0
python-digitalocean==1.8
python-openid==2.2.5
python-social-auth==0.2.12
pytz==2016.4
PyYAML==3.12
requests==2.7.0
requests-oauthlib==0.5.0
six==1.9.0
