{% extends "base.html" %}

{% block meta %}
<meta http-equiv="refresh" content="30;URL='{% url 'main' %}'" />
{% endblock %}

{% block content %}

{% for instance in instances %}
  <h2>{{ instance.name }} ({{ instance.server_type_desc }})</h2>

  {% if instance.state %}
    <p>The server is currently {{ instance.state }}.</p>

    {% if instance.state == 'archived' %}
      {% if can_start %}
        <a href="{% url 'wakeup' instance.id %}" class="btn btn-default">Wake up</a>
      {% endif %}
    {% elif instance.state == 'running' %}
      <p>
        The server is running on
        {{ instance.minecraftserversettings.ip_address }}:{{ instance.minecraftserversettings.port }}.
      </p>

      {% if instance.serverplayerstate.num_players == 0 %}
        <p>There are currently no players connected.  The last time a player was seen was at {{ instance.serverplayerstate.last_time_seen_player }}</p>
      {% elif instance.serverplayerstate.num_players == 1 %}
        <p>There is currently 1 player connected.</p>
      {% else %}
        <p>There are currently {{ instance.serverplayerstate.num_players }} players connected.</p>
      {% endif %}

      {% if can_stop %}
        <a href="{% url 'shutdown' instance.id %}" class="btn btn-default">Shut down</a>
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

{% endblock %}
